XmlDemo/src/main/java/com/hcl/xml/emp.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema">
<xsd:element name="EMPS" type="complexTypeEmpData" />
<xsd:complexType name="complexTypeEmpData">
	<xsd:sequence>
		<xsd:element name="EMP" type="complexTypeEmp" maxOccurs="unbounded" />
	</xsd:sequence>
</xsd:complexType>	
<xsd:complexType name="complexTypeEmp">
	<xsd:sequence>
		<xsd:element name="EMPNO" type="xsd:positiveInteger" />
		<xsd:element name="NAME" type="xsd:string"/>
		<xsd:element name="BASIC" type="xsd:positiveInteger" />
		
	</xsd:sequence>
	
	<xsd:attribute name="CATEGORY" type="xsd:string" />
</xsd:complexType>
</schema>